.ownerSurname{
    font-size: 18px;
    font-weight: bold;
}

.ownerName{
    font-size: 15px;
    font-weight: 400;
}

.cursorHover{
    cursor:pointer;
}

.carYear{
    background-color: #f5f5f5;
    padding: 3px;
}